:host {
  width: 100%;
  height: 100%;
}

::ng-deep {
  .p-menubar .p-menubar-end {
    margin-left: unset !important;
    flex-grow: 1;
  }

  .p-overlay-badge .p-badge {
    top: 3px;
    right: 5px;
  }

  .p-menubar {
    width: 100%;
    display: flex;
    background: #f7f7f7;
    border: none;
  }

  .p-menu.p-menu-overlay {
    left: 80px !important;
  }

  ul.p-submenu-list {
    border-radius: 5px;
  }

  .p-menuitem-text {
    font-size: 1.1rem;
  }

  .p-menubar .p-menubar-panel {
    border-radius: 0.4rem;
    padding: 1rem;
  }

  .p-menubar-col-4 {
    padding: 1.6rem !important;
  }

  .p-component {
    font-family: "IRANYekanX";
  }

  button[label="پروفایل"] .pi {
    color: white;
  }

  .pi-shopping-bag:before {
    position: absolute;
    top: 25%;
    left: 25%;
  }

  .profile-menu.pi-angle-down {
    color: white;
  }

  .p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link {
    padding: 1.3rem 1rem;
  }

  li.p-element.p-submenu-header {
    display: none;
  }

  .p-menubar .p-menubar-root-list .p-icon-wrapper,
  .p-menubar .p-submenu-list .p-menuitem-link .p-icon-wrapper {
    margin-left: unset !important;
    margin-right: 0.3rem;
  }
}
