<div class="tw-container tw-mx-auto">
  <p-menubar [model]="items" class="tw-flex tw-py-6">
    <ng-template pTemplate="start" class="tw-text-3xl">
      <a routerLink="/"
        ><img
          src="assets/images/logo.svg"
          class="mr-2 tw-h-11 tw-ml-4 md:tw-ml-8 xl:tw-ml-36"
      /></a>
    </ng-template>

    <ng-template pTemplate="end">
      <!-- <input type="text" pInputText placeholder="Search" class="w-full" /> -->
      <div class="tw-text-end tw-gap-2 tw-flex tw-justify-end tw-items-center">
        <i
          class="pi pi-shopping-bag tw-w-12 tw-cursor-pointer tw-h-12 tw-bg-white tw-relative tw-rounded-full tw-text-center"
          routerLink="/cart"
          pBadge
          [value]="cartService.totalItemsSig().toString()"
          style="font-size: 1.4rem"
        ></i>

        <ng-container *ngIf="currentUserName; else loginButton">
          <p-menu #menu [model]="profileItems" [popup]="true"></p-menu>

          <button
            pButton
            type="button"
            (click)="menu.toggle($event)"
            icon="pi pi-angle-down profile-menu"
            iconPos="right"
            [label]="currentUserName"
          ></button>
        </ng-container>

        <ng-template #loginButton>
          <p-button label="ورود" routerLink="/auth"></p-button>
        </ng-template>
      </div>
    </ng-template>
  </p-menubar>

  <router-outlet></router-outlet>
</div>
