:host {
  width: 100%;
  height: 100%;
}

::ng-deep {
  .p-megamenu-horizontal .p-megamenu-end {
    margin-left: unset !important;
    flex-grow: 1;
  }

  .p-megamenu {
    width: 100%;
    display: flex;
    background: #f7f7f7;
    border: none;
  }

  .p-menuitem-text {
    font-size: 1.1rem;
  }

  .p-megamenu .p-megamenu-panel {
    border-radius: 0.4rem;
    padding: 1rem;
  }

  .p-megamenu-col-4 {
    padding: 1.6rem !important;
  }

  .p-component {
    font-family: "IRANYekanX";
  }

  button[label="پروفایل"] .pi {
    color: white;
  }

  .pi-shopping-bag:before {
    position: absolute;
    top: 25%;
    left: 25%;
  }

  .profile-menu.pi-angle-down {
    color: white;
  }

  .p-megamenu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    padding: 1.3rem 1rem;
  }

  li.p-element.p-submenu-header {
    display: none;
  }
}
