:host {
  width: 100%;
  height: 100%;
}

::ng-deep {
  .p-menubar .p-menubar-custom,
  .p-menubar .p-menubar-end {
    margin-left: unset !important;
    flex-grow: 1;
  }

  .p-menubar {
    background: #f7f7f7;
    border: none;
  }

  .p-menuitem-text {
    font-size: 1.1rem;
  }
}
