@import "./abstracts/colors";

@import "./base/typography";

body {
  height: 100vh;
  width: 100vw;
  font-family: "iranyekan";
  word-spacing: 0.2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f7f7f7;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: #000;
  cursor: pointer;
}

fa-icon {
  color: $secondary;
}

button {
  background: $primary;
}

.pi {
  font-family: "primeicons" !important;
  color: $secondary;
  margin: 0 0.6rem;
}

button {
  background-color: $primary !important;
}

.p-button .p-button-icon-right {
  margin: 0 0.5rem 0 0;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
  color: #e15c43 !important;
}

.p-component {
  font-family: IRANYekanX;
}

.p-megamenu.p-megamenu-horizontal
  .p-megamenu-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  margin-right: 0.5rem;
}

button.p-ripple.p-toast-icon-close {
  background: transparent !important;
}

// .p-menu
//   .p-menuitem:not(.p-highlight):not(.p-disabled)
//   > .p-menuitem-content:hover
//   .p-menuitem-link
//   .p-menuitem-icon,
// .p-menu
//   .p-menuitem:not(.p-highlight):not(.p-disabled)
//   > .p-menuitem-content:hover
//   .p-menuitem-link
//   .p-submenu-icon,
// .p-menu
//   .p-menuitem:not(.p-highlight):not(.p-disabled)
//   > .p-menuitem-content:hover
//   .p-menuitem-link
//   .p-menuitem-icon {
//   color: #e15c43;
// }
