<section
  class="tw-container tw-flex tw-items-center tw-justify-center tw-h-full"
>
  <ng-container *ngIf="courseDetails$ | async as course">
    <div>
      <img [src]="course.image" alt="course-image" />
      <p>{{ course.title }}</p>
      <p>{{ course.subTitle }}</p>
      <p>{{ course.description }}</p>
      <p>{{ course.price }}</p>
    </div>

    <p-button
      (click)="onAddToCart(course)"
      label="افزودن به سبد خرید"
      styleClass="p-button"
      [disabled]="disableAddToCart"
    ></p-button>
  </ng-container>
</section>
