<section
  class="tw-container tw-flex tw-items-center tw-justify-center tw-h-full"
>
  <ng-container *ngIf="courseDetails$ as course">
    <div>
      <p>{{ (course | async)?.title }}</p>
      <p>{{ (course | async)?.subTitle }}</p>
      <p>{{ (course | async)?.description }}</p>
      <p>{{ (course | async)?.price }}</p>
    </div>

    <p-button
      (click)="onAddToCart()"
      label="افزودن به سبد خرید"
      styleClass="p-button"
    ></p-button>

    <p-button
      routerLink="/cart"
      label="سبد خرید"
      styleClass="p-button"
    ></p-button>
  </ng-container>
</section>
