<div class="grid">
  <ng-container *ngIf="courseService.userCourse().length > 0; else noItem">
    <div
      *ngFor="let row of courseService.userCourse(); let i = index"
      class="col-12 lg:col-6 xl:col-3 tw-p-4"
    >
      <div class="flex card justify-content-center">
        <p-card header="متخصص برنامه نویسی اندروید">
          <ng-template pTemplate="header">
            <img
              alt="Card"
              src="https://primefaces.org/cdn/primeng/images/usercard.png"
            />
          </ng-template>

          <div class="tw-flex tw-flex-col">
            <div class="tw-flex tw-justify-between">
              <span class="tw-text-sm">تکمیل نشده</span>
              <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
            </div>
            <div
              class="w-full overflow-hidden surface-300 border-round lg:w-full"
              [ngStyle]="{ height: '11px', marginTop: '6px' }"
            >
              <div
                class="h-full bg-purple-500"
                [ngStyle]="{ width: '75%' }"
              ></div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </ng-container>

  <ng-template #noItem> <h2>سبد خرید شما خالی است.</h2> </ng-template>
</div>

<!-- <div class="grid">
  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل شده</span>
            <span class="font-medium text-green-500 tw-text-sm">%۱۰۰</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-green-500"
              [ngStyle]="{ width: '100%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل شده</span>
            <span class="font-medium text-green-500 tw-text-sm">%۱۰۰</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-green-500"
              [ngStyle]="{ width: '100%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-3 tw-p-4">
    <div class="flex card justify-content-center">
      <p-card header="متخصص برنامه نویسی اندروید">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/usercard.png"
          />
        </ng-template>

        <div class="tw-flex tw-flex-col">
          <div class="tw-flex tw-justify-between">
            <span class="tw-text-sm">تکمیل نشده</span>
            <span class="font-medium text-purple-500 tw-text-sm">%۷۵</span>
          </div>
          <div
            class="w-full overflow-hidden surface-300 border-round lg:w-full"
            [ngStyle]="{ height: '11px', marginTop: '6px' }"
          >
            <div
              class="h-full bg-purple-500"
              [ngStyle]="{ width: '75%' }"
            ></div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div> -->
