<div
  class="grid tw-h-full tw-flex"
  [ngClass]="{
    'tw-justify-center tw-items-center':
      courseService.userCourseSig().length === 0
  }"
>
  <ng-container *ngIf="courseService.userCourseSig().length > 0; else noItem">
    <div
      *ngFor="let course of courseService.userCourseSig(); let i = index"
      class="col-12 lg:col-6 xl:col-3 tw-p-4"
    >
      <div class="flex card justify-content-center">
        <p-card [header]="course.title">
          <ng-template pTemplate="header">
            <img
              src="https://primefaces.org/cdn/primeng/images/usercard.png"
              alt="Card"
            />

            <img [src]="course.image" class="course-image" alt="Card" />
          </ng-template>

          <div class="tw-flex tw-flex-col">
            <div class="tw-flex tw-justify-between">
              <span class="tw-text-sm">
                {{ course.completion == 100 ? "تکمیل شده" : "تکمیل نشده" }}
              </span>
              <span
                class="tw-font-semibold font-number text-green-500 tw-text-sm"
              >
                {{ course.completion + " % " }}</span
              >
            </div>
            <div
              class="w-full overflow-hidden surface-300 border-round lg:w-full"
              [ngStyle]="{ height: '11px', marginTop: '6px' }"
            >
              <div
                class="h-full bg-green-500"
                [ngStyle]="{ 'width.%': course.completion }"
              ></div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </ng-container>

  <ng-template #noItem>
    <!-- <h2>شما هیچ دوره ای را خریداری نکرده اید.</h2> -->
    <img
      src="assets/images/empty-cart.png"
      class="tw-h-80 tw-mb-16"
      alt="empty-list"
    />
  </ng-template>
</div>
