:host ::ng-deep {
  .p-card-header img {
    width: 60px;
    margin: 0 auto;
  }

  .p-card.p-component {
    border-radius: 0.5rem;
    padding: 25px 50px;
  }

  .p-card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
