<section
  class="tw-container tw-flex tw-items-center tw-justify-center tw-h-full"
>
  <form [formGroup]="form" class="tw-flex tw-gap-9">
    <div class="card">
      <p-card [style]="{ width: '450px' }">
        <div class="tw-flex tw-flex-col card tw-justify-center tw-gap-4">
          <label htmlFor="email">ایمیل</label>
          <input
            type="email"
            pInputText
            formControlName="email"
            class="tw-w-full tw-rounded-xl tw-text-center"
            placeholder="mostafamiri12345@gmail.com"
          />
          <div
            *ngIf="
              form.controls['email'].invalid &&
              (form.controls['email'].dirty || form.controls['email'].touched)
            "
            class="p-error"
          >
            <ng-container *ngIf="email?.errors?.['required']">
              لطفا ایمیل خود را وارد کنید.
            </ng-container>
            <ng-container *ngIf="email?.errors?.['email']">
              آدرس ایمیل نوشته شده نامعتبر می باشد.
            </ng-container>
          </div>

          <label htmlFor="password">رمز عبور جدید</label>
          <input
            type="password"
            pInputText
            formControlName="password"
            class="tw-w-full tw-rounded-xl tw-text-center"
            placeholder="رمز عبور جدید"
          />
          <div
            *ngIf="password!.invalid && (password!.dirty || password!.touched)"
            class="p-error"
          >
            <ng-container *ngIf="password?.errors?.['required']">
              لطفا رمز خود را وارد کنید.
            </ng-container>
            <ng-container *ngIf="password?.errors?.['minLength']">
              رمز وارد شده باید بیشتر از ۶ کاراکتر باشد.
            </ng-container>
          </div>

          <label htmlFor="repeatPassword">تکرار رمز عبور</label>
          <input
            type="password"
            pInputText
            formControlName="repeatPassword"
            class="tw-w-full tw-rounded-xl tw-text-center"
            placeholder="رمز عبور جدید"
          />
          <div
            *ngIf="
              repeatPassword!.invalid &&
              (repeatPassword!.dirty || repeatPassword!.touched)
            "
            class="p-error"
          >
            <ng-container
              *ngIf="repeatPassword?.errors?.['confirmedValidator']"
            >
              تکرار رمز عبور با رمز عبور مطابقت ندارد
            </ng-container>
          </div>

          <label htmlFor="mobileNumber">شماره موبایل</label>
          <input
            type="tel"
            pInputText
            formControlName="mobileNumber"
            class="tw-w-full tw-rounded-xl tw-text-center"
            placeholder="شماره موبایل"
          />
          <div
            *ngIf="
              mobileNumber!.invalid &&
              (mobileNumber!.dirty || mobileNumber!.touched)
            "
            class="p-error"
          >
            <ng-container *ngIf="mobileNumber?.errors?.['pattern']">
              شماره همراه وارد شده معتبر نمی باشد
            </ng-container>
          </div>
        </div>
      </p-card>
    </div>

    <div class="card">
      <p-card [style]="{ width: '450px', height: '493px' }">
        <div class="tw-flex tw-flex-col card tw-justify-center tw-gap-4">
          <label htmlFor="name">نام</label>
          <input
            type="text"
            pInputText
            formControlName="name"
            class="tw-w-full tw-rounded-xl tw-text-center"
            placeholder="نام خود را وارد کنید"
          />

          <label htmlFor="family">نام خانوادگی</label>
          <input
            type="text"
            pInputText
            formControlName="family"
            class="tw-w-full tw-rounded-xl tw-text-center"
            placeholder="نام خانوادگی خود را وارد کنید"
          />

          <label htmlFor="displayName">نام نمایشی</label>
          <input
            type="displayName"
            pInputText
            formControlName="displayName"
            class="tw-w-full tw-rounded-xl tw-text-center"
            placeholder="نام نمایشی خود را وارد کنید"
          />
        </div>
        <ng-template pTemplate="footer">
          <div class="tw-flex tw-justify-center tw-items-center tw-gap-4">
            <p-button
              (click)="onLoginOrSignup()"
              label="ذخیره"
              [disabled]="!this.form.valid"
              styleClass="p-button"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </form>
</section>
